@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import "tailwindcss";
@plugin "daisyui"; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.special{
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: black;
  color: white;
}



.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #b4a9a9;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}


@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-zoom {
  animation: zoom 2s infinite;
}


.swiper-button-prev{
  background-color: white !important;
  color: orangered !important;
  border-radius: 50%;
  height: 35px !important;
  width: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after{
  font-size: 17px !important;
  font-weight: 800 !important;
}

.swiper-button-next:after{
  font-size: 17px !important;
  font-weight: 800 !important;
}

.swiper-button-next{
 background-color: white !important;
  color: orangered !important;
  border-radius: 50%;
  height: 35px !important;
  width: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


